/********************General*******************/
body {
    min-width: 660px;
}

a {
    text-decoration: none;
    color: #000000;
} 

p, h2, span {
    margin: 0px 0px 0px 0px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}
/********************Header*********************/
header {
    height: 110px;
    border-bottom-style: solid;
    background-color: #DCDCDC;
    padding: 10px 60px 10px 10px;
}

.logo {
    width: 210px;
    height: 110px;
    float: left;
    background-color: #000000;
    box-sizing: border-box;
}

.about_company {
    margin-top: 29px;
    width: 200px;
    text-align: center;
    float: right;
    font-size: 22px;
}

.user {
    margin-top: 30px;
    max-width: 340px;
    max-height: 30px;
    text-align: right;
    float: right; 
    font-size: 17px;
}

.user_text {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    max-height: 30px;
    overflow: hidden;
    font-size: 22px;
}

/******************Container********************/
.container {
    display: flex;
    text-align: center;
}

/****************Syte navigation*****************/
.navigation {
    border-bottom-style: solid;
    border-right-style: solid;
    padding: 10px;  
}

.selection_button {
    min-height: 35px;
    min-width: 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 20px;
    font-size: 20px;
}

.selection_button:focus {
    background: #DCDCDC;
}

/***************Templates selection**************/
.templates_selection {
    padding: 20px;
}

.templates_selection_header {
    height: 47px;
    min-width: 550px;
    padding: 10px;
    box-sizing: border-box;
}

.template_text {
    width: auto;
    float: left;
}

.template_text h2 {
    width: 120px;
    margin-right: 20px;
}

.add_button {
    width: auto;
    min-width: 145px;
    float: left;
}

.add_button span {
    font-size: 18px;
}

.add_button:active {
    background-color: #DCDCDC;
}

.search_box {
    float: right;
    font-size: 13px;
    border: 2px solid #000000;
    margin-right: 30px;
    border-radius: 25px 25px 25px 25px;
}

.search_box input {
    border: none;
    width: 150px;
    height: 20px;
    border-radius: 0px 25px 25px 0px;
}

textarea:focus, .search_box input:focus {
    outline: none;
}

.wrapper {
    padding: 18px;
    float: left;
    background: #FFFFFF;
}

.wrapper:focus {
    background: #DCDCDC;
    outline: none;
}

.template_item {
    width: 420px;
    height: 280px;
    background: #FFFFFF;
    border: 3px solid #000000;
}

.template_item h2 {
    margin: 10px;
}

.text {
    height: 143px;
    overflow: auto;
    padding: 0px 3px 0px 3px;
}

.counters_container {
    height: 30px;
    padding-top: 5px;
    font-size: 18px;
}

.questions_count {
    float: left;
    width: 50%;
}

.pages_count {
    float: right;
    width: 50%;
}

.create_voting_button {
    width: auto;
    min-width: 125px;
    padding: 3px 2px 3px 2px;
    display: inline-block;
    font-size: 18px;
}

.create_voting_button:active {
    background-color: #DCDCDC;
}


/******************Scroll panel******************/
.scroll_panel {
    height: 90px;
    clear: left;
}

.stat {
    float: left;
    font-size: 20px;
}

.navigate_buttons {
    font-size: 25px;
    float: right;
    margin-right: 40px;
}

/*********************Footer*********************/
footer {
    height: 60px;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
}

/**********************Groups********************/

.bordered {
    border: 2px solid #000000;
    box-shadow: 2px 2px 5px #000000;
    box-sizing: border-box;
}