/********************General*******************/
body {
    display: block;
    border-width: 3px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
} 

ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}
/********************Header*********************/
header {
    height: 160px;
    border-bottom-style: solid;
    background-color: #DCDCDC;
}

.container {
    height: auto;
    float: left;
    display: flex;
}

/*****************Pages selection***************/
.navigation {
    width: 230px;
    border-bottom-style: solid;
    border-right-style: solid;
    background-color: red;
    padding: 10px;  
}

.selection_button {
    height: 35px;
    min-width: 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 20px;
}

.selection_button p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 22px;
}

/***************Templates selection**************/
.templates_selection {
    padding: 20px;
    /*width: 1670px;*/
    color: yellow;
    background-color: blue;
    display: inline-block;
}

.templates_selection_header {
    height: 47px;
    background-color: orange;
}

.template_item {
    width: 350px;
    /*min-width: 350px;*/
    height: 250px;
    margin: 18px;
    background-color: pink;
    float: left;
    color: black;
}

.questions_count {
    float: left;
    width: 50%;
    min-width: 100px;
}

.pages_count {
    float: right;
    width: 50%;
}

/******************Scroll panel******************/
.scroll_panel {
    height: 90px;
    clear: left;
    background-color: green;
}

/*********************Footer*********************/
footer {
    height: 90px;
    background-color: yellow;
}

/**********************Groups********************/
.column {
    box-sizing: border-box;
}

.bordered {
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}