/********************General*******************/
body {
    display: block;
    border-width: 3px;
}

a {
    text-decoration: none;
    color: black;
} 
/********************Header*********************/
.header_panel {
    height: 160px;
    border-bottom-style: solid;
    background-color: #DCDCDC;
}

/*****************Pages selection***************/
.pages_selection_panel {
    width: 20%;
    float: left;
    border-bottom-style: solid;
    border-right-style: solid;
    box-sizing: border-box;
    background-color: red;
    padding: 10px;
    
}

.selection_button {
    height: 25px;
    border: 2px solid black;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px black;

}

.selection_button p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/***************Templates selection**************/
.templates_selection_panel {
    width: 80%;
    /*margin: 3%, 2%, 3%, 1%;*/
    color: yellow;
    float: right;
    background-color: blue;
}

.templates_selection_panel_header {
    height: 15%;
}

/******************Scroll panel******************/
.scroll_panel {
    height: 90px;
    clear: left;
    background-color: green;
}

/*********************Footer*********************/
.footer {
    height: 90px;
    background-color: yellow;
}

/**********************Groups********************/
.column {
    height: 600px;
}
