<!DOCTYPE html>
<html>
    <head>
        <title>Шаблоны</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style/normalize.css" />
        <link rel="stylesheet" href="./style/templates.css" />
    </head>
    <body>
        <div class="header_panel">
            <div class="logo_field" >
                <!--logo image here-->
            </div>
        </div>
        <div class="pages_selection_panel column">
            <div class="selection_button">
                <p>Новый опрос</p>                
            </div>
            <div class="selection_button">
                <p>Мои опросы</p>                
            </div>
            <div class="selection_button">
                <p>Шаблоны опросов</p>                
            </div>
            <div class="selection_button">
                <p>Пользователи</p>                
            </div>
        </div>
        <div class="templates_selection_panel column">
            <!--TODO: replace by one dynamically creating template-->
            <div class="templates_selection_panel_header">

            </div>
            <div class="templates_table" >
                <div class="template_item">
                    
                </div>
                <div class="template_item">
                
                </div>
                <div class="template_item">
                
                </div>
                <div class="template_item">
                
                </div>
                <div class="template_item">
                
                </div>
            </div>
        </div>
        <div class="scroll_panel">
        </div>
        <div class="footer">

        </div>
    </body>
</html>