<!DOCTYPE html>
<html>
    <head>
        <title>Шаблоны</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./style/normalize.css" />
        <link rel="stylesheet" href="./style/templates.css" />
        <link rel="stylesheet" href="./style/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="logo">

            </div>
            <div class="user">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="user_text">
                    <p>Привет, Админ</p>
                </div>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <a href="">
                <div class="about_company">
                    <h2>О компании</h2>
                </div>
            </a>
        </header>
        <div class="container">
            <div class="navigation column">
                <ul>
                    <li>
                        <a href="">
                            <div class="bordered selection_button">
                                <p>Новый опрос</p>                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="bordered selection_button">
                                <p>Мои опросы</p>                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="bordered selection_button">
                                <p>Шаблоны опросов</p>                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="bordered selection_button">
                                <p>Пользователи</p>                
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="templates_selection column">
                <!--TODO: replace by one dynamically creating template-->
                <div class="templates_selection_header">

                </div>
                <div class="template_item">
                    <h2>Шаблон 1</h2>
                    <div class="text">
                        <p>
                            На следующий день государь остановился в Вишау. Лейб-медик Вилье несколько раз был призываем к нему. В главной квартире и в ближайших войсках распространилось известие, что государь был нездоров. Он ничего не ел и дурно спал эту ночь, как говорили приближенные. Причина этого нездоровья заключалась в сильном впечатлении, произведенном на чувствительную душу государя видом раненых и убитых.
                        </p>
                    </div>
                    <div class="questions_count">
                        <p>Вопросов: 12</p>
                    </div>
                    <div class="pages_count">
                        <p>Страниц: 3</p>
                    </div>                        
                </div>
                <div class="template_item">
                    <h2>Шаблон 2</h2>
                    <div class="text">
                        <p>
                            На заре 17-го числа в Вишау был препровожден с аванпостов французский офицер, приехавший под парламентерским флагом, требуя свидания с русским императором. Офицер этот был Савари. Государь только что заснул, и потому Савари должен был дожидаться. В полдень он был допущен к государю и через час поехал вместе с князем Долгоруковым на аванпосты французской армии.
                        </p>
                    </div>
                    <div class="questions_count">
                        <p>Вопросов: 12</p>
                    </div>
                    <div class="pages_count">
                        <p>Страниц: 3</p>
                    </div>  
                </div>
                <div class="template_item">
                    <h2>Шаблон 3</h2>
                    <div class="text">
                        <p>
                            Как слышно было, цель присылки Савари состояла в предложении мира и в предложении свидания императора Александра с Наполеоном. В личном свидании, к радости и гордости всей армии, было отказано, и вместо государя князь Долгоруков, победитель при Вишау, был отправлен вместе с Савари для переговоров с Наполеоном, ежели переговоры эти, против чаяния, имели целью действительное желание мира.
                        </p>
                    </div>
                    <div class="questions_count">
                        <p>Вопросов: 12</p>
                    </div>
                    <div class="pages_count">
                        <p>Страниц: 3</p>
                    </div>  
                </div>
                <div class="template_item">
                    <h2>Шаблон 4</h2>
                    <div class="text">
                        <p>
                            Ввечеру вернулся Долгоруков, прошел прямо с государю и долго пробыл у него наедине.
                        </p>
                    </div>
                    <div class="questions_count">
                        <p>Вопросов: 12</p>
                    </div>
                    <div class="pages_count">
                        <p>Страниц: 3</p>
                    </div>                  
                </div>
                <div class="template_item">
                    <h2>Шаблон 5</h2>
                    <div class="text">
                        <p>
                            18-го и 19-го ноября войска прошли еще два перехода вперед, и неприятельские аванпосты после коротких перестрелок отступали. В высших сферах армии с полдня 19-го числа началось сильное хлопотливо-возбужденное движение, продолжавшееся до утра следующего дня, 20 ноября, в который дано было столь памятное Аустерлицкое сражение
                        </p>
                    </div>
                    <div class="questions_count">
                        <p>Вопросов: 12</p>
                    </div>
                    <div class="pages_count">
                        <p>Страниц: 3</p>
                    </div>                  
                </div>
                <div class="template_item">
                    <h2>Шаблон 6</h2>
                    <div class="text">
                        <p>
                            До полудня 19-го числа движение, оживленные разговоры, беготня, посылки адъютантов ограничивались одной главной квартирой императоров; после полудня того же дня движение передалось в главную квартиру Кутузова и в штабы колонных начальников. Вечером через адъютантов разнеслось это движение по всем концам и частям армии, и в ночь с 19-го на 20-е поднялась с ночлегов, загудела говором и заколыхалась и тронулась громадным девятиверстным холстом восьмидесятитысячная масса союзного войска.
                        </p>
                    </div>
                    <div class="questions_count">
                        <p>Вопросов: 12</p>
                    </div>
                    <div class="pages_count">
                        <p>Страниц: 3</p>
                    </div>                  
                </div>
                <div class="scroll_panel">
                </div>
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>